html, body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
#boton-musica {
    background-color: #4CAF50; /* Color de fondo */
    color: white; /* Color del texto */
    padding: 15px 32px; /* Espaciado interno del botón */
    text-align: center; /* Centrar el texto */
    font-size: 16px; /* Tamaño del texto */
    border: none; /* Sin bordes */
    border-radius: 12px; /* Bordes redondeados */
    cursor: pointer; /* Cambiar cursor al pasar sobre el botón */
    box-shadow: 0 4px #999; /* Sombra del botón */
    transition: all 0.3s ease; /* Animación suave al pasar el ratón */
  }
  
#boton-musica:hover {
    background-color: #45a049; /* Cambia el color cuando pasas el ratón */
    box-shadow: 0 6px #666; /* Cambia la sombra cuando pasas el ratón */
    transform: translateY(-2px); /* Mueve el botón ligeramente hacia arriba */
  }
  
#boton-musica:active {
    background-color: #3e8e41; /* Color al hacer clic */
    box-shadow: 0 4px #666; /* Sombra al hacer clic */
    transform: translateY(2px); /* Mueve el botón hacia abajo al hacer clic */
  }
  
div {   
    border: 1px solid #ba5858;
    
}

/* Contenedor principal en columna */
#contenedor-principal {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center; /* Centra todo el contenido horizontalmente */
}

/* Primera fila: imagen y gráfico en una sola línea */
#contenedor-arriba {
  display: flex;
  justify-content: space-around; /* Distribuye mejor los elementos */
  width: 100%; /* Ocupa todo el ancho */
}

/* Segunda fila: botón y fecha en una línea */
#contenedor-abajo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; /* Para que ocupe todo el ancho disponible */
}

/* Estilos del gráfico */
#barras {
  width: 500px; /* Ajusta el tamaño del gráfico */
  height: 400px;
}

/* Estilos de la imagen */
img {
  width: 300px; /* Ajusta el tamaño de la imagen */
  height: 400px;
  margin: auto; /* Centra la imagen horizontalmente */
  display: block;
}

/* Estilos del botón */
button {
  padding: 10px;
  font-size: 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

/* Centrado del contenido dentro de los divs */
#contenedor-arriba img,
#contenedor-arriba #barras {
  display: block;
}